{% extends 'head.html' %}
{% block body %}



<body>
	<!--*********nav section start************-->
	<div class="header" >
	<div style="padding-top:20px;">
	<nav class="navbar navbar-expand-lg navbar-dark " >
		<div class="container text-uppercase">
  <a class="navbar-brand logo" href="#"><b>BL Liberary</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#log" >login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#log">signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts">contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#man">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">about</a>
      </li>
         </ul>
   </div> 
  </div>
</div>
</nav>


<!--*******nav section end********-->
<!--*******head section start****-->
 <section class="headers">
 	<div class="box">
 		<h1>WELCOME TO BL Liberary</h1>
 		<h3 style="margin-bottom:10px; color:black;">our Best-Learning Liberary Management site</h3>
    <input style="margin-bottom:20px;width:35%; height:10%;border:4px solid brown;border-radius:100px;" type="text" placeholder="TYPE YOU WANT TO SEARCH"  > </input> 
    <button style="margin-bottom:18px;width:4%; height:10%;background-color:green;border:4px solid brown;border-radius:120%;"><i class="fa fa-search" aria-hidden="true"></i>
       </button>  <br> 
  	<a  class="buttons" href="#about"><b>ABOUT</b></a>
 		<a class="buttons" href="#contacts"><b>CONTACT</b></a>
   
</div>
</section>
</div>
</div>

<!--*********head section end*********-->
<!----********extra header section start *********--->
<section class="header-extra">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 block">
        <a href="#"><i class=" fa-3x fa fa-desktop" aria-hidden="true"></i></a>
        <h2  style="margin-top: 20px">EASY TO USE</h2>
        <P> We'll explore the use of website introductory text in various types of websites to ... Below is friendly duck's site introduction: It's short, simple, catchy and ... is to use a brief, keyword-rich heading followed by a short paragraph.</P>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-12 block">
        <a href="#"><i class="fa-3x fa fa-magic" aria-hidden="true"></i></a>
        <h2  style="margin-top: 20px">EASY TO CUSTOMIZE</h2>
        <P>Well, rest easy, because in this tutorial we're going to step you through the ... When you're done, make sure the opening paragraph tag of your final ... If you save your HTML document and refresh your site you should see ...</P>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-12 block">
        <a href="#"><i class="fa-3x fa fa-trophy" aria-hidden="true"></i></a>
        <h2 style="margin-top: 20px">AWESOME DESIGN</h2>
        <P> Here's a hero image with a centered call to action and here's my three ... A portfolio website should show off your abilities as a designer. ... and brief paragraphs, Bike Time immerses you in all the cool experiences and terrain ...</P>
    </div>
    </div>
  </div>
</section>  
<!--************extra header section end********-->
<!-- *********offer section start******--> 
<section>
  <div class="offer">
    <div class="shadow">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 block1">
          <h2>WHAT DO WE OFFER</h2> 
          <p>HELLO LEARNERS, IN OUR MISSION WE WANT TO PROVIDE ALL THE E-LEARNINNG CONTENT IN OUR E-LEARNING SITE</p>  </div>
      </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-10 offset-sm-1">
          <div class="name my-3">
            
            <h6>Computer & Tech</h6>
            <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-success" style="width:95%"> 95%</div>
            </div>
             <h6>Edu & reference</h6>
            <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-primary" style="width:90%"> 90%</div>
            </div>
            <h6>Comics</h6>
              <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-info" style="width:85%"> 85%</div>
            </div>
            <h6>Biographies</h6>
              <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-secondary" style="width:70%"> 70%</div>
            </div>
            <h6>Business</h6>
              <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-info" style="width:72%"> 72%</div>
          </div>
            <h6>Health & Fitness</h6>
              <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-secondary" style="width:67%"> 67%</div>
          </div>
            <h6>Histry</h6>
              <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated  bg-danger" style="width:65%"> 65%</div>
          </div>
            <h6>Art & Music</h6>
            <div class="progress w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width:50%"> 50%</div>
            </div>
          </div>
        </div>
          <div class="col-lg-5 col-md-5 col-sm-10 offset-sm-1">
          <div class="names my-3">
            <div class="row">
              <div class="col-lg-2 col-sm-4">
                   <a href="#"><i class=" fa-3x fa fa-lock" aria-hidden="true"  style="margin-top:30px;margin-left:30px; color:red;"></i></a>
               </div>
               <div class="col-lg-8 col-sm-6">
                <h5 style="color:red;">SECURITY SYSTEM</h5>
                <p>we launch your website and done all we can to ensure its success, but you may have overlooked a critical component: website security. <span style="color:red;"> Cyberattacks </span> cause costly clean-up, damage your reputation, and discourage visitors from coming back. Fortunately, you can prevent it all with effective website security.</p>
              </div>
            </div>
             
             </div>
                <div class="names my-3">
            <div class="row">
              <div class="col-lg-2 col-sm-4">
                   <a href="#"><i class="fa-3x fa fa-wifi" aria-hidden="true" style="margin-top:30px;margin-left:30px;"></i></a>
               </div>
               <div class="col-lg-8 col-sm-6">
               <h5>DIGITAL MANAGEMENT</h5>
               <P>Digital Management use technology to create new value in business models, customer experiences and the internal capabilities that support its core operations. The term includes both digital-only brands and traditional players that are transforming their businesses with digital technologies.</P>
              </div>
             </div>
             </div>
                <div class="names my-3">
            <div class="row">
              <div class="col-lg-2 col-sm-4">
                   <a href="#"><i class=" fa-2x fa fa-phone" aria-hidden="true"  style="margin-top:30px;margin-left:30px;"></i></a>
               </div>
               <div class="col-lg-8 col-sm-6">
              <h5>SUPPORT & OPEN 24X7</h5>
               <P> To start using Books24x7 today, you'll need your BL Central  Library card and a computer or device with an Internet connection. Don't have a library card? <span style="color:red;"> Get one​. Users accessing Books 24/7 outside of the library will need to create a Books 24/7 account.</span></P>
              </div>
             
             </div>
            </div>
          </div>
        </div>
    </div>    
  </div>

</section>
<!----*********offer section end*******-->
<!----*********prising section start*******-->
<section class="prising prisings">
  <h3 style="padding-bottom:20px;">OUR BEST PRICING</h3>
  <div class="container">
    <div class="row" style= "padding-bottom:70px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card center ">
           <div class="card-header"><h4>REEDING BOOKS</h4></div>
           <div class="card-body my-4" style="font-size:1.3rem">
            <li>Rs.<span class="money">50</span>/Day,cost</li>
            <li>All over content for education</li>
            <li>Support and open 24x7</li>
            <li>All India's News-papers</li>
            <li>E-books content</li>
            <li>Best responsive staff's</li>
           </div>
           <div style="color:#2fccd0;" class="card-footer"><a href="#"><h5 class="hov" style="border:2px solid #2fccd0;color:#2fccd0; border-radius:100px; 
                  padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;">Purchase</h5></a></div>
        </div>
       </div> 
       <div class="col-lg-4 col-md-4 col-sm-12 ">
        <div class="card center ">
           <div class="card-header"><h4>SECURITY MONEY</h4></div>
           <div class="card-body my-4" style="font-size:1.3rem">
            <li>Rs.<span class="money">1000</span>/Book, cost</li>
            <li>All over content for education</li>
            <li>Support and open 24x7</li>
            <li>All India's News-papers</li>
            <li>E-books content</li>
            <li>Best responsive staff's</li>
           </div>
           <div style="color:#2fccd0;" class="card-footer"><a href="#"><h5 class="hov" style="border:2px solid #2fccd0;color:#2fccd0; border-radius:100px; 
                  padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;">Purchase</h5></a></div>
        </div>
       </div> 
       <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card center ">
           <div class="card-header"><h4>UNLIMITED MEMBERSHIP</h4></div>
           <div class="card-body my-4" style="font-size:1.3rem">
            <li>Rs.<span class="money">2000</span>/lifetime, cost</li>
            <li>All over content for education</li>
            <li>Support and open 24x7</li>
            <li>All India's News-papers</li>
            <li>E-books content</li>
            <li>Best responsive staff's</li>
          </div>
           <div  class="card-footer"><a href="#" ><h5 class="hov" style="border:2px solid #2fccd0;color:#2fccd0; border-radius:100px; 
                  padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;">Purchase</h5></a>
                </div>
        </div>
       </div> 
    </div>  
  </div>
 <!----*********management section start*******-->
 <section class="back" id="log">
  <div class="container">
    <div class="row"style="padding-bottom:40px;">
          <div class="col-lg-6 col-md-12 col-sm-10 ">
            <div class="card" style="width:400px">
            <img class="card-img-top" src="/static/new.jfif" alt="Card image"style="height:200px;">
            <div class="card-body">
            <h4 class="card-title">NEW LEARNERS</h4>
            <p class="card-text">You want to create a new account for membership!!</p>
            <a href="{{url_for('new_acc')}}" class="btn btn-success">Create Account</a>
           </div>
           </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-10  ">
           <div class="card" style="width:400px">
          <img class="card-img-top" src="/static/login.jfif" alt="Card image" style="height:200px;">
          <div class="card-body">
            <h4 class="card-title">LOGIN</h4>
            <p class="card-text">If you have already an account please login</p>
            <a href="{{url_for('login')}}" class="btn btn-success">Login</a>
          </div>
        </div>
        
    </div>
  </div>
</div>  
<div class="container">
    <div class="row"style="padding-bottom:40px;">
          <div class="col-lg-6 col-md-12 col-sm-10 ">
            <div class="card" style="width:400px">
            <img class="card-img-top" src="/static/guest.webp" alt="Card image" style="height:250px;">
            <div class="card-body">
            <h4 class="card-title">AS GUEST</h4>
            <p class="card-text">If you want to login as guest.</p>
            <a href= "{{url_for('guest')}}"  class="btn btn-primary">As Guest</a>
           </div>
           </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-10  ">
           <div class="card" style="width:400px">
          <img class="card-img-top" src="/static/logout.jpg" alt="Card image" style="height:250px;">
          <div class="card-body">
            <h4 class="card-title">Remove Account</h4>
            <p class="card-text">You want to remove your account. Are you sure?</p>
            <a href="{{url_for('remove')}}" class="btn btn-danger">Remove</a>
          </div>
        </div>
        
    </div>
  </div>
</div>          
   
 </section>
 <!----*********management section end*******--> 
<!----*********project done section start*******-->
<section class="counts">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 counter">
        <h5>MANAGEMENT AND POPULARITY</h5>  
        </div>
      </div>
      <div class="row">
        
          <div class="container d-flex justify-content-around align-items-center text-center">
          <div>
           <h3 class="count"> 10000 </h3>
           <h6><b style="font-size:150%">+</b>OUR MEMEMBERSHIP</h6>
         </div>
         <div>
           <h3 class="count"> 100000 </h3>
           <h6><b style="font-size:150%">+</b>EDUCATIONAL CONTENT</h6>
         </div>
         <div>
           <h3 class="count">100</h3>
           <h6><b style="font-size:150%">+</b>NO. OF STAFFS</h6>
         </div>
          </div>
        </div>
        

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
 <script>
    $('.count').counterUp({
    delay:10,
    time:3000,
    })
</script>
</section>    
<!----*********project done section end*******-->
<!----*********footer section start*******-->
<footer>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm--12 footer"id="about">
        <h3>Histry:</h3>
        <p style="color:white; font-size:130%;">The history of BL Central Liberary began with the first efforts to organize collections of documents. Topics of interest include accessibility of the collection, acquisition of materials, arrangement and finding tools, the book trade, the influence of the physical properties of the different writing materials, language distribution, role in education, rates of literacy, budgets, staffing,</p>
        
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 footer" id="man">
        <h3>management:</h3>
        <a href="#"><b style="color:white; font-size:130%;">Create Account</b></a><br>
        <a href="#"><b style="color:white;font-size:130%;">login</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">As guest</b></a><br>
        <a href="#"><b style="color:white;font-size:130%;">Remove Account</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">Membership</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">Security Money</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">Reeding Charge</b></a><br>
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 footer" id="contacts">
        <h3>contacts:</h3>
        <a href="#"><b style="color:white; font-size:130%;">nikhilgupta@2334.com</b></a><br>
        <a href="#"><b style="color:white;font-size:130%;">Insta-Nikhil324</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">karangupta@113.com</b></a><br>
        <a href="#"><b style="color:white;font-size:130%;">7539218120</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">9839453701</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">0522-76845387</b></a><br>
        <a href="#"><b style="color:white; font-size:130%;">ADD-DUBAGGA LKO</b></a><br>
   </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 footer">
      <div style="font-size:30px;">
        
      <a href="#" class="icon"style=" border:2px solid white;border-radius: 100%; padding:20px; padding:20px;background-color: black;"><i class="fa fa-facebook" aria-hidden="true"style="color:blue;"></i></a>
      <a href="#" class="icon"style=" border:2px solid white;border-radius: 100%; padding:20px;background-color: black;"><i class="fa fa-instagram" aria-hidden="true" style="color:lightpink;"></i></a>
      <a href="#" class="icon"style=" border:2px solid white;border-radius: 100%; padding:20px;background-color: black;"><i class="fa fa-google-plus" aria-hidden="true"style="color:white"></i></a>
      <a href="#" class="icon"style=" border:2px solid white;border-radius: 100%; padding:20px;background-color: black;"><i class="fa fa-youtube" aria-hidden="true" style="color:red;"></i></a>
     </div>
      
   
   <div style="text-align: center;font-size:30px; padding-top:50px;">
         <div>      
    <a class="icon"><i class="fa fa-map-marker" style=" border:2px solid white;border-radius: 100%; padding:20px; padding:20px;background-color: black; color:blue"></i></a>
    <p><span>21 Revolution Street</span> Delhi, India</p>
        </div>
    <div>
    <a class="icon"><i class="fa fa-phone" style=" border:2px solid white;border-radius: 100%; padding:20px; padding:20px;background-color: black; color:green"></i></a>
    <p>+91 7080057612</p>
    </div>
 
    <div>
    <a class="icon"><i class="fa fa-envelope" style=" border:2px solid white;border-radius: 100%; padding:20px; padding:20px;background-color: black; color:red"></i></a>
    <p><a href="karan1907@gmail.com">karan1907@gmail.com</a></p>
    </div>
 
    </div>
 
</footer>
 </div>
  </div>
<!----*********footer section end*******-->


</body>
{% endblock %}