{% extends 'head.html' %}
{% block body %}
<body>
	<div style="text-align:center;background-color:#6084a7;"> 
	<a href="/static/reed.pdf" style="border:2px solid green;padding:20px;font-weight:bold;background-color:green;border-radius:20px;" ><i class=" fa-2x fa fa-book" aria-hidden="true"  style="margin-top:70px;margin-bottom:70px;margin-right:20px;"></i>READ BOOK</a>
	<h3 style="font-style:italic;background-color: green;font-size: 25px; padding:20px; ">BOOK IS AVAILIABLE.ENJOY WITH US!!!</h3>
</div>
</body>
{% endblock %}